/* styles.css */
body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

h1, h3, h5 {
    color: #343a40;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list-group-item {
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #ffffff;
    transition: transform 0.2s;
}

.list-group-item:hover {
    transform: translateY(-3px);
}

.btn {
    border-radius: 5px;
}

.form-control, .form-select {
    border-radius: 5px;
}
